*{padding: 0;
margin: 0;}

    

body{background-color: burlywood;
    width: 100vw;
    overflow-x: hidden;

}
.titulo{background-color:brown;
color: black;
width: 130px;
font-size:80px;
text-align: center;
margin-left: 45%;
}


header{
    height: 160px;
}


.amoblamientos{
    width: 100%;
    font-size: 20px;
    margin-left: 45%;
    
    
}


nav ul li {float: center;
    list-style: none;
    display: inline-block;
    font-size: 25px;
    padding: 5px;
    font-weight: bolder;
    text-decoration: none;
    
}
h2{color: blue;
    font-size: 40px;    

}
.quienes{
    padding-top: 65px;
}

p{font-size: 20px;
    width: 90%;
   
}

   
    





 .galeria{color:brown;
font-size: 35px;
padding: 20px;
margin-left: 30%;

}   

.contenedor{
    height: 1200px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 200px);
    margin-left: 10%;
 

}

.foto{
    background-size: cover;
    background-position: center;
    border: 5px solid ;
}

.foto1{
    background-image: url(./imagen/chair-2587847_1280.jpg);
}

.foto2{
    background-image: url(./imagen/kitchen-1940176_1280.jpg);
}

.foto3{
    background-image: url(./imagen/kitchen-8195976_1280.jpg);
}

.foto4{
    background-image: url(./imagen/WhatsApp\ Image\ 2023-07-05\ at\ 23.31.59.jpeg);
}

.foto5{
    background-image: url(./imagen/interior-3534120_1280.jpg);
}

.foto6{
    background-image: url(./imagen/picnic-table-4063311_1280.png);
}




form{
    padding: 20px;
height: 35px;
width: 50px;
}
h4{
    color:black;
font-size: 60px;
margin-left: 30%;
text-shadow: 5px 5px orangered;
padding-top: 60px;
}




.navbar-brand{
    font-size: 20px;
    color: black;    
    
}




.collapse{
    display: flex;
    justify-content: flex-end;
}



    

 a:hover{color: black;}


 footer{
    height: 170px;
}

h3 {font-weight: bolder;
padding: 30px;
font-size: 25px;
text-decoration-line: underline;
margin-left: 10%;
}

.iconos{
    margin-left: 15%;
    padding:10px;
    font-size: 30px;
    color: brown;          
    }

.home1{padding: 50px;
height: auto;
width: 300px;}

.home2{padding: 50px;
height: auto;
width: 300px;}

.lorem{padding: 20px
}
.nuevos{    
    margin-left: 15%;    
    margin-top: 60px;
    width: 70%;
}
.nuevos2{
    width: 70%;
    margin-left: 15%;
}

.nuevos3{
    width: 70%;
    margin-left: 15%;
}

.banner{    
    background-image: url(./imagen/counter-576093_1280.png);
    background-size: cover;
    background-position: center;
    margin: 300px;
    height: 300px;
    width: 100vh;
    
}
.index{
    font-size: 30px;
    color:white;
    margin-left: 130px;      

}

.banner2{
    background-image: url(./imagen/dresser-576043_1280.png);
    background-size: cover;
    background-position: center;
    margin: 300px;
    height: 600px;
    width: 100vh;
}
.banner3{
    background-image: url(./imagen/table-575916_1280.png);
    background-size: cover;
    background-position: center;
    margin: 300px;
    height: 300px;
    width: 100vh;

}
@media only screen and (max-width:480px){
    .iconos{
        font-size: 12px;
    }
    nav ul li{
        font-size: 15px;
    }
    p{font-size: 10px;}
    h2{font-size: 15px;}
    
}
/* /* /* @media only screen and (min-width:700px){
    .iconos{
        font-size: 30px; */



@media only screen and (max-width:480px){
    .contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,200px);
    }
}


